$blurred-black: rgb(24, 23, 23);
$dark-grey: rgb(58, 58, 58);
$light-grey: #d9d7d7;
$hot-green: rgb(9, 247, 9);
$hot-red: rgb(255, 19, 2);
$hot-yellow: rgb(226, 255, 8);
$orange: orange;

$page-layout-frame: #eeecec;
$page-name: $light-grey;
$page-layout-sub-container: white;
