@import "../../../styles/variables";

.statusCard {
    margin: auto;
    height: 25vh;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.buttonContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.piChartContainer {
    background-color: $light-grey;
    display: grid;
    grid-template-rows: 1fr 4fr;
    width: 90%;
    border-radius: 20px;
}

.piChartLabelsContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.piChartCenterTextContainer {
    position: relative;
}

.piChart {
    height: 95%;
    width: 95%;
    margin: auto;
}

.centerText {
    font-size: xx-small;
    width: 10ch;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $blurred-black;
    z-index: 10;
    text-transform: uppercase;
}
